*{
  margin:0px;
  padding:0px;
  font-family:'Lato', sans-serif;
}

html {

  height:100%;
}

body {
  position:absolute;
  width:100%;
  height:100%;
}

header{
  padding:10px;
  background-color:#46494B;
  width:100%;
  height:auto;
  text-align: left;
  border-bottom:solid #0C6062 5px;

}

a {
  color:inherit;
  text-decoration:none;
}

.main {
  height:100%;
}

.title {
  background-color:#46494B;
  color:#E5E1D0;
  padding:10px 10px 10px 10px;
  margin:15px;
}

.login {
  height : 40px;
  width:60px;
  margin:auto 30px auto 30px;
  padding:5px;
  border: none;
  background-color: #D18454;
  color:#E5E1D0;
}

.login:hover {
  background-color:orangered;
}

.container {
  display:flex;
  height:100%;
  justify-content: space-between;
}

.content__container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sidebar {
  flex:1;
  background-color:#667278;
  color:#D18454;
  height:100%;
  text-align:center;
  font-size:1.2rem;

}

.sidebar ul {
  margin-top:20px;
}

.sidebar ul li {
  padding:10px 0 10px 0;
  list-style: none;
  width:100%;
}

.sidebar ul li:hover {
  background-color:#46494B;
}

.submenu__project {
  display:none;
  text-align: right;
  margin-right:15px;
}

.menu__project:hover .submenu__project {
  display:block;
  background-color:#46494B;
}

.content{
  padding:20px;
  flex:6;
}

.content h2 {
  margin:20px;
  color:#4C9952;
}

.content p {
  margin:10px;
}

.card {
  flex:1;
  text-align:center;
  list-style: none;  
  margin:10px 40px 10px 40px;
  border:solid #D18454 1px;
  border-radius:4px;
}

.quotes {
  text-align: center;
  color:#D18454;
}