*{
  margin:0px;
  padding:0px;
  font-family:'Lato', sans-serif;
}

html {

  height:100%;
}

body {
  position:absolute;
  width:100%;
  height:100%;
}

header{
  padding:10px;
  background-color:#46494B;
  width:100%;
  height:auto;
  text-align: left;
  border-bottom:solid #0C6062 5px;

}

a {
  color:inherit;
  text-decoration:none;
}

.main {
  height:100%;
}

.wrapper{
  margin : 10px 30px;
  padding:15px;
}

.title {
  background-color:#46494B;
  color:#E5E1D0;
  padding:10px 10px 10px 10px;
  margin:15px;
}

.login {
  height : 40px;
  width:60px;
  margin:auto 30px auto 30px;
  padding:5px;
  border: none;
  background-color: #D18454;
  color:#E5E1D0;
}

.login:hover {
  background-color:orangered;
}

.header__container {
  display:flex;
  height:100%;
  justify-content: space-between;
}

.container {
  display:flex;
  height:100%;
}

.content__container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.element__container {
  display:flex;
  flex-direction: row;
  border: solid #0C6062 2px;
  width : 600px;
  align-items: center;
  margin:20px 30px;
}


.member__project-container {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:20px 0;
}

.sidebar {
  padding-top:10px;
  flex:1;
  background-color:#46494B;
  color:#D18454;
  height:100%;
  text-align:center;
  font-size:1.2rem;
}

.sidebar ul {
  margin-top:20px;
}

.sidebar ul li {
  padding:10px 0 10px 0;
  list-style: none;
  width:100%;
}

.sidebar ul li:hover {
  background-color:#667278;
}

.submenu__project {
  display:none;
  text-align: right;
  margin-right:15px;
}

.menu__project:hover .submenu__project {
  display:block;
  background-color:#667278;
}

.content{
  flex:6;
}

.content h2 {
  margin:20px 0px;
  color:#4C9952;
}

.content p {
  margin:10px 0px;
}

.btn__wrapper {
  display:block;
  text-align: left;
  margin:30px;

}

.btn__new-project {
  text-align: center;
  text-decoration: none;
  border: none;
  width:200px;
  height:30px;
  background-color:#4C9952;
  color:#E5E1D0;
}

.btn__new-project:hover {
  background-color:orangered;
}

.card {
  width:220px;
  height:310px;
  text-align:center;
  margin:10px 30px 30px 30px;
  border-radius:5px;
  background-color:#E5E1D0;
  padding-bottom:15px;
}

.card ul {
  list-style: none; 
}

.card:hover{
  position:relative;
  top:-2px;
}

.card__primary_element {
  padding:10px;
  margin:0px auto;
  color:#4C9952;
  font-size: 1.1rem;
}

.card__picture {
  width:100%;
  height:auto;
  margin-bottom:10px;
}

.quotes {
  text-align: center;
  color:#D18454;
}

.color__green {
  color:#4C9952;
}