{% extends "main.html" %}
{% block content %}
  <div class="wrapper">
    <section>
      <h2>Presentation</h2>
      <p>Welcome to the website of the Petit Fablab de Paris</p>
      <p>You can see here the different elements available within our fablab</p>
    </section>
    <section>
      <h2>What we do</h2>
      <p>We are a community Fablab, we are a meeting place for beginners, technophiles and savvy scientists, craftsmen who like woord or ceramics and artists..</p>
      <p>We help people who can not afford expensive technologies, by allowing them to use expensive equipment such as laser cutters or 3D printers.</p>
      <p>We support all projects that seem feasible to us, with a view to achieving either technical, artisanal, artistic or scientific.</p>
      <p>In exchange, our members participate in one part of our adventure, sharing their skills and some of their time to train other people, members or not, familiar with technology, craft or not.</p>
      <p>These training courses are open to the general public and help raise the awareness of potential project leaders to the technologies that will enable them to realize their ideas. They make a large public aware of the arts, digital technologies, or all the knowledge that it would seem good to broadcast.</p>
      <p>With our formation and projects we tried to give science a more fun side, we seek to rediscover old craftmanship and stir up the curiosity inside each one of us.<p>
      <p class="quotes">Restore the capacity of all to create, in any field.</p>
    </section>

  </div>

{% endblock %}