{% extends "main.html" %}
{% block content %}
  <div class="wrapper">
    <section>
      <h2>Presentation</h2>
      <p>Welcome to the website of the Petit Fablab de Paris</p>
      <p>You can see here the different elements available within our fablab</p>
    </section>
    <section>
      <h2>What we do</h2>
      <p>We are a community Fablab, we are a meeting place for beginners, technophiles and savvy scientists, craftsmen who like woord or ceramics and artists..</p>
      <p>We help people who can not afford expensive technologies, by allowing them to use expensive equipment such as laser cutters or 3D printers.</p>
      <p>We support all projects that seem feasible to us, with a view to achieving either technical, artisanal, artistic or scientific.</p>
      <p>In exchange, our members participate in one part of our adventure, sharing their skills and some of their time to train other people, members or not, familiar with technology, craft or not.</p>
      <p>These training courses are open to the general public and help raise the awareness of potential project leaders to the technologies that will enable them to realize their ideas. They make a large public aware of the arts, digital technologies, or all the knowledge that it would seem good to broadcast.</p>
      <p>With our formation and projects we tried to give science a more fun side, we seek to rediscover old craftmanship and stir up the curiosity inside each one of us.<p>
      <p class="quotes">Restore the capacity of all to create, in any field.</p>
    </section>
    <section>
      <h2>History</h2>
      <p>La société Nod-A, société qui aide les organismes publics à créer / relancer l’innovation, a constaté que ses équipements étaient sous utilisés en week-end et l’un de ses premiers salariés, Arthur Schmitt, a pensé à une structure de type FabLab pour y remédier.</p>
      <p>Un Fablab, pour Fabrication Laboratory, ou « laboratoire de fabrication », est un lieu ouvert au public où il est mis à sa disposition toutes sortes d’outils, notamment des machines-outils pilotées par ordinateur, pour la conception et la réalisation d’objets. Cette structure permet à des particuliers d’utiliser les machines de Nod-A.</p>

      <p>De cette réflexion est née le Petit Fab Lab de Paris, l’association permettant à des usagers du grand public d’accéder à des machines peu accessibles et de permettre de partager le savoir entre les gens qui ont les connaissances techniques et ceux qui ne les ont pas.</p>

      <p>En 2016, Le Petit Fablab de Paris déménage et entame un partenariat avec l’association AGECA. De cette collaboration rennaissent des envies autour de l’autogestion, le lien avec le tissus local, l’apprentissage sous toutes ses formes. Des expérimentations ne tardent pas émerger alors autour de l’organisation d’atelier, d’initation, soirées théma etc.</p>

      <p>Notre association, depuis ses débuts, met en avant une certaine idée de la diversité, de 18 ans à 99 ans, femmes, hommes, de tous les coins du monde, notre diversité est un enrichissement.</p>

    </section>
  </div>

{% endblock %}