{% extends "main.html" %}
{% block content %}
  <section>
    <h2>Presentation</h2>
    <p>Bienvenue sur le site du Petit Fablab de paris</p>
    <p>Vous pouvez voir ici les différents éléments disponibles au sein du fablab</p>
  </section>
  <section>
    <h2>What we do</h2>
    <p>Fablab de quartier, nous sommes un carrefour de rencontre entre les débutants, les technophiles et scientifiques avertis, les artisans d’art comme le macramé ou la céramique et des artistes.</p>
    <p>Nous aidons les personnes qui n’ont pas les moyens d’accéder à des technologies coûteuses, en leur permettant l’utilisation d’équipements onéreux comme les découpeuses laser ou des imprimantes 3D.</p>
    <p>Nous soutenons tous les projets qui nous paraissent réalisables, dans une optique de réalisation soit technique, soit artisanale, artistique ou scientifique.</p>
    <p>En échange, nos membres participent à un bout de notre aventure, en partageant leurs compétences et un peu de leurs temps à former d’autres personnes, membres ou pas, familiers des technologies, des arts artisanaux ou pas.</p>
    <p>Ces formations ouvertes au grand public, permettent de sensibiliser des potentiels porteurs de projets aux technologies qui leur permettront de réaliser leurs idées. Elles sensibilisent un large public aux arts artisanaux, aux technologies numériques, ou à toutes connaissances qu’il nous paraîtrait bon de diffuser.</p>
    <p>De par nos formations, par tous les projets que nous avons entre nous, nous cherchons à redonner ce côté ludique des sciences, faire redécouvrir / perdurer les arts artisanaux, attiser la curiosité qui existe en chacun de nous, faire comprendre que toutes les techniques, artisanales ou plus modernes, sont à la portée de tout le monde.<p>
    <p class="quotes">Redonner les capacités à tous de créer, dans quelque domaine que ce soit.</p>
  </section>
  <section>
    <h2>History</h2>
    <p>La société Nod-A, société qui aide les organismes publics à créer / relancer l’innovation, a constaté que ses équipements étaient sous utilisés en week-end et l’un de ses premiers salariés, Arthur Schmitt, a pensé à une structure de type FabLab pour y remédier.</p>
    <p>Un Fablab, pour Fabrication Laboratory, ou « laboratoire de fabrication », est un lieu ouvert au public où il est mis à sa disposition toutes sortes d’outils, notamment des machines-outils pilotées par ordinateur, pour la conception et la réalisation d’objets. Cette structure permet à des particuliers d’utiliser les machines de Nod-A.</p>

    <p>De cette réflexion est née le Petit Fab Lab de Paris, l’association permettant à des usagers du grand public d’accéder à des machines peu accessibles et de permettre de partager le savoir entre les gens qui ont les connaissances techniques et ceux qui ne les ont pas.</p>

    <p>En 2016, Le Petit Fablab de Paris déménage et entame un partenariat avec l’association AGECA. De cette collaboration rennaissent des envies autour de l’autogestion, le lien avec le tissus local, l’apprentissage sous toutes ses formes. Des expérimentations ne tardent pas émerger alors autour de l’organisation d’atelier, d’initation, soirées théma etc.</p>

    <p>Notre association, depuis ses débuts, met en avant une certaine idée de la diversité, de 18 ans à 99 ans, femmes, hommes, de tous les coins du monde, notre diversité est un enrichissement.</p>

  </section>

{% endblock %}