{% extends "main.html" %}
{% block content %}
  <div class='element__container'>
    <img src="{{ url_for('static', filename='project/blank_project.gif')}}">
    <div>
      <p class="color__green">Name: {{ project.name }}</p>
      <p>Description : {{ project.description }}</p>
    </div>
  </div>

  <div class="btn__wrapper">
    Do you really want to delete the project above ?
    <form action="{{ url_for('delete_project', project_id = project.id) }}" method = 'POST'>
      <input class="btn__confirm-delete" type = 'submit' value = "Delete">
    </form>
  </div>

  <div class="btn__wrapper">
  <a href="{{url_for('show_projects')}}">
    <button class="btn__new-project">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Back to projects
    </button>
  </a>
</div>

{% endblock %}