  <header>
    <div class="header__container">
      <h1 class="title">Le Petit Fablab De Paris : Catalog</h1>
      {% if current_user.is_authenticated %}
      <div class="login__container">
        <div class="welcome">Welcome {{current_user.name}}</div>
        <a href="{{url_for('logout')}}">
          <button class="login__button">Log Out</button>
        </a>
      </div>
      {% else %}
      <div class="login__container">
        <a href="{{url_for('show_login')}}">
          <button class="login__button">Login</button>
        </a>
      </div>
      {% endif %} 
    </div>
  </header>