{% extends "main.html" %}
{% block content %}

<div class="wrapper">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash__message">{{message}}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <h1> Please Login </h1>
  <div>
    <div class="element__flex">
      <form class='form__container' method='POST'>
        <div class="wrapper">
          <div class="title" style="margin-left:0; font-size:18px;">Sign In with your account name</div>
          <label for='username'>Please enter your username : </label><br>
          <input type="text" name="username"><br><br>
          <input class="btn__new-project" type = 'submit' value = "Sign In">
        </div>
      </form>
      <div class="title" style="text-align:center; width:50%;"> OR </div>
    </div>
    <div class="element__flex">
      <div class='form__container'>
        <div class="wrapper">
          <div class="title" style="margin-left:0; font-size:18px;">Sign In with Github</div>
            <a href="{{url_for('github_login')}}">
              <button class="btn__new-project" id="new-project">Connect to github</button>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}