{% extends "main.html" %}
{% block content %}
  <div class='wrapper'>
    <h1>Add a new project</h1>
    <div>
      <form  class='form__container' action="{{ url_for('new_project')}}" method = 'POST'>
        <label for='name'>Choose a project name </label><br>
        <input type = 'text' size = '50' name = 'name' required><br>
        <label for='descript'>Write a description for your project : </label><br>
        <textarea name="description" rows="5" cols="33"></textarea><br>
        <label for='member'>Who made the project: </label>
        <select name="member" >
          {% for member in members %}
            <option value="{{ member.id }}">{{ member.name }}</option>
          {% endfor %}
        </select>
        <label >What tools did you used for the project: </label><br>
        <div class="wrapper">
          <input type="checkbox" name="Arduino" value="Arduino">Arduino
          <input type="checkbox" name="Laser Cutter" value="Laser Cutter">Laser Cut
          <input type="checkbox" name="3D Printer" value="3D Printer">3D printer
          <input type="checkbox" name="Portable Electric" value="Portable Electric">Portable Electric<br>
        </div>
        <input class="btn__new-project" type = 'submit' value = "Create">
      </form>
    </div> 
    <br>   
    <a href="{{url_for('show_projects')}}">
      <button class="btn__back-projects">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Back to projects
      </button>
    </a>
  </div>

{% endblock %}