{% extends "main.html" %}
{% block content %}

<h2 class="wrapper">Projects made inside the fablab using the following tools : {{tag_name}}</h2>

{% if current_user.is_authenticated %}
  <div class="btn__wrapper">
    <a href="{{url_for('new_project')}}">
      <button class="btn__new-project">Add project</button>
    </a>
  </div>
{% endif %}

<div class="content__container">
  {% for project in projects %}
    <a href="{{url_for('show_project', project_id = project.id)}}">
      <div class="card">
        <img class="card__picture" src="{{ url_for('static', filename='project/'+project.picture)}}">
          <div class="card__primary_element">
          Name : {{project.name}} 
          </div>

        {% if current_user.is_authenticated %}
          {% set user_id = current_user.get_id() | int %}
          {% if user_id == project.member_id %}
            <div class="btn__container">
              <div>
                <a href = "{{ url_for('edit_project', project_id = project.id )}}"> <i class='material-icons' style='color:#667278';>edit</i></a>
              </div>
              <div class='btn__delete'>
                <a  href = "{{ url_for('delete_project', project_id = project.id )}}"> <i class='material-icons' style='color:orangered';>delete_forever</i></a>  
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

{% if current_user.is_authenticated %}
  <div class="btn__wrapper">
    <a href="{{url_for('new_project')}}">
      <button class="btn__new-project">Add project</button>
    </a>
  </div>
{% endif %}

{% endblock %}