{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div><strong>{{message}}</strong><div>
      {% endfor %}
  {% endif %}
{% endwith %}

<div class="wrapper">
  <h2>Welcome to projects page of Le Petit Fablab de Paris</h2>

  <p>A Fablab come from Fabrication Laboratory, a place where people gather test, try, produce and share what they do</p>

  <p>You have a list of the last 5 projects, click on any on them to know more. </p>
  <p>For futher exploration we have organize our project by the tools they need to be fabricated (arduino, laser cutter, 3d printer etc...)</p>
</div>

<div class="btn__wrapper">
  <a href="{{url_for('new_project')}}">
    <button class="btn__new-project" id="new-project">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add project
    </button>
  </a>
</div>

<div class="content__container">
  {% for project in projects %}
    <a href="{{url_for('show_project', project_id = project.id)}}">
      <div class="card">
        <img class="card__picture" src="{{ url_for('static', filename='project/'+project.picture)}}">
          <div class="card__primary_element">
          Name : {{project.name}} 
          </div>

        <div class="btn__container">
          <div class='btn__edit'>
            <a href = "{{ url_for('edit_project', project_id = project.id )}}"> <i class='material-icons' style='color:#667278';>edit</i></a>
          </div>
          <div class='btn__delete'>
            <a  href = "{{ url_for('delete_project', project_id = project.id )}}"> <i class='material-icons' style='color:orangered';>delete_forever</i></a>  
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<div class="btn__wrapper">
  <a href="{{url_for('new_project')}}">
    <button class="btn__new-project" id="new-project">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add project
    </button>
  </a>
</div>


{% endblock %}