{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}

  <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
  </ul>
  {% endif %}
{% endwith %}

<h2>Welcome to projects page of Le Petit Fablab de Paris</h2>

<p>A Fablab come from Fabrication Laboratory, a place where people gather test, try, produce and share what they do</p>

<p>You have a list of the last 5 projects, click on any on them to know more. </p>
<p>For futher exploration we have organize our project by the tools they need to be fabricated (arduino, laser cutter, 3d printer etc...)</p>

<div class="btn__wrapper">
  <a href="{{url_for('new_project')}}">
    <button class="btn__new-project" id="new-project">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add project
    </button>
  </a>
</div>

<div class="content__container">
  {% for project in projects %}
    <ul class="card">
    <img class="card__picture" src="{{ url_for('static', filename='project/blank_project.gif')}}">
      <li class="card__primary_element">Name : {{project.name}} </li>
    </ul>
  {% endfor %}
</div>

<div class="btn__wrapper">
  <a href="{{url_for('new_project')}}">
    <button class="btn__new-project" id="new-project">
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add project
    </button>
  </a>
</div>


{% endblock %}